@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'NTSomic';
	src: url('assets/fonts/NTSomic-Regular.otf');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('assets/fonts/NTSomic-Regular.woff2') format('woff'),
		url('assets/fonts/NTSomic-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NTSomic';
	src: url('assets/fonts/NTSomic-Medium.otf');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('assets/fonts/NTSomic-Medium.woff2') format('woff'),
		url('assets/fonts/NTSomic-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'NTSomic';
	src: url('assets/fonts/NTSomic-Bold.otf');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('assets/fonts/NTSomic-Bold.woff2') format('woff'),
		url('assets/fonts/NTSomic-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

.body {
	font-family: 'NTSomic', 'serf';
	font-weight: normal;
}

.container {
	margin-left: auto;
	margin-right: auto;
}